$footerColor: #8c919f;
footer {
  width: 100%;
  height: 70px;
  padding: 15px 150px;
  @include flex();
  background-color: #bcc5d0;
  color: #4f5b72;
  font-family: "微软雅黑";
  font-size: 12px;
}
.footer-section {
  display: flex;
  flex-direction: column;
  span {
    display: inline-block;
    margin: 2px;
  }
}