.el-header{
    border: 1px #ebeef5 solid;
    position: relative;
    height: 75px;
    line-height: 75px;
    background: #ffffff;
    font-weight: bolder;
    padding-left: 30px;
    &:before{
        content: " ";
        display:block;
        height:30px;
        width: 4px;
        position: absolute;
        left: 20px;
        top: 22px;
        background: #217eff;
    }
    .left{
        float: left;
        font-size: 22px;
        color: #4f5b72;
        margin-left:15px;

    }
    .right{
        float: right;
        font-size: 14px;
        font-weight: normal;
        span{
            padding: 8px 10px;
            color: #4A91FE;
            cursor: pointer;
            box-sizing: border-box;
            background: #E8F2FE;
        }
        span:nth-child(1){
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
            border: 1px #207eff solid;
            border-right: none;
        }
        span:nth-child(2){
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
            border: 1px #207EFF solid;
        }
        .active{
            background: #207EFF;
            color: #ffffff;
        }
    }
}
.el-main{
    padding: 0 0 20px 0 !important;
    .resource_header{
        border: 1px #ebeef5 solid;
        border-top: none;
        height: 70px;
        line-height: 70px;
        display: flex;
        align-items: center;
        background: #ffffff;
        box-sizing: border-box;
        .left_tab{
            @include flex(columns, flex-start);
            text-align: left;
            padding-left: 20px;
            flex: 1;
            div{
                margin-right: 50px;
            }
        }
        .right_form{
            /deep/ .el-form--inline .el-form-item__content{
                vertical-align: middle;
            }
            /deep/ .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item{
                margin-bottom: 0;
            }
        }
        .right_form .el-form-item{margin-bottom: 0}
        .right_form .el-input--mini .el-input__inner{height: 35px;line-height: 38px;}
        /deep/.right_form .el-form--inline .el-form-item__label{font-size: 16px}
    }
    .el-footer {
        background: #ffffff;
      /deep/ .el-pager .active {
        border: 1px solid #efefef;
      }
      }
}